<app-header></app-header>

<main class="main">
  <app-cards></app-cards>


  <div class="input-container {{ className }}">
    <input
      matInput
      placeholder="Some text"
      value={{inputValue}}
      [(ngModel)]="inputValue"
    >
    <button
      mat-button
      (click)="onChangeColor()"
      [ngStyle]="{color: getColor()}"
    >Click me</button>
  </div>
  <div class="container">
    <h3 class="heading">{{ inputValue }}</h3>
    <h5 class="heading" [ngClass]="{custom_heading: className === 'customized'}">
      <span *ngIf="className === 'customized'; else default">Color is changed!</span>
    </h5>
    <ng-template #default>
      <span>Color is default</span>
    </ng-template>
  </div>


  <div class="input-container">
    <input
      matInput
      placeholder="Some text"
      value={{secondInputValue}}
      (change)="onChangeHeadingText($event)"
    >
  </div>
  <h3 class="heading">{{ secondInputValue }}</h3>
</main>


